<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <div [hidden]="!loading">
    <mat-card >
      <mat-card-content>
        <h2 class="example-h2">Result</h2>
    
        <section class="example-section" >
          <mat-progress-bar
              class="example-margin"
              [color]="primary"
              mode="buffer"
              [value]="(loadingValue/allTime)*100"
              [bufferValue]="(bufferValue/buffer)*100">
          </mat-progress-bar>
        </section>
      </mat-card-content>
    </mat-card>
  
  </div>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step >
      <form #form="ngForm" *ngIf="service.warehouse" (submit)="onSubmitWarehouse()">
        <ng-template matStepLabel>Magazyn</ng-template>
        <mat-form-field>
            <input
            type="text"
            required
            #name="ngModel"
            name="name"
            matInput
            placeholder="Warehouse Name"
            [(ngModel)]="service.warehouse.name"
          />
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperNext (click)="progress()" >Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step >
      <form #form="ngForm" *ngIf="warehouse" (submit)="onSubmitRoom()">
        <ng-template matStepLabel>Rooms</ng-template>
        <div class="" *ngFor="let i of roomsCount ">
          <div class="flex flex-wrap fd-column">
              <mat-form-field >
                  <input
                  type="text"
                  required
                  #room{{i.id}}="ngModel"
                  name="room{{i.id}}"
                  matInput
                  placeholder="Room Name"
                  [(ngModel)]="service.roomList[i.id].name"
                />
              
              </mat-form-field>
          </div>
            
            <button type="button" class="mr5" color="accent"  mat-raised-button (click)="addRoom()" >Next Room</button>
            <button *ngIf="i.id+1===roomsCount.length&&counter>=1" type="button" class="mr5" color="basic"  mat-raised-button (click)="subRoom(i.id)" >Subtract Room</button>
    
        </div>
        
        <div class="flex">
          <button  mat-raised-button  color="warn" (click)="backToWarehouse()" matStepperPrevious>Back</button>
          <span class="spacer"></span>
          <button  type="submit" mat-raised-button color="primary" (click)="progress()" matStepperNext>Next Step</button>
        </div>
      </form>
    </mat-step>
    <mat-step >
      <form #form="ngForm" *ngIf="service.columnList.length" (submit)="onSubmitColumn()">
        <ng-template matStepLabel>Columns</ng-template>
        <div *ngFor="let j of roomList">
            <label >Path://{{j.parentName}}/{{j.name}}: </label>
            <div *ngFor="let i of j.columnCount">
              <mat-form-field  class="mr5">
                <input
                type="text"
                required
                #column{{j.name}}{{i}}="ngModel"
                name="column{{j.name}}{{i}}"
                matInput
                placeholder="Column Name"
                [(ngModel)]="service.columnList[i].name"
              />
              </mat-form-field>
              <button mat-raised-button class="mr5" color="accent" type="button" (click)="addColumn(j.id)" >Next Column</button>
              <button *ngIf="i>=roomList.length&&i===j.columnCount[j.columnCount.length-1]" type="button" class="mr5" color="basic"  mat-raised-button (click)="subColumn(j.id, service.columnList[i].id)" >Subtract Column</button>
            </div>
          </div>  
        <div class="flex">
          
          <button mat-raised-button color="warn" (click)="backToRoom()" matStepperPrevious>Back</button>
          <span class="spacer"></span>
          <button mat-raised-button type="submit" (click)="progress()" color="primary" matStepperNext>Next Step</button>
        </div>
      </form>
    </mat-step>
    <mat-step >
        <form #form="ngForm" *ngIf="service.rackList.length" (submit)="onSubmitRack()">
          <ng-template matStepLabel>Rows</ng-template>
          <div *ngFor="let j of columnList">
              <label >Path://{{j.parentPath}}/{{j.name}}: </label>
              <div *ngFor="let i of j.rackCount" class="dis-block"> 
                <mat-form-field class="mr5">
                  <input
                  type="text"
                  required
                  #rack{{j.name}}{{i}}="ngModel"
                  name="rack{{j.name}}{{i}}"
                  matInput
                  placeholder="Rack Name"
                  [(ngModel)]="service.rackList[i].name"
                />
                </mat-form-field>
                <mat-form-field class="mr5" >
                  <input
                  type="number"
                  required
                  #{{j.name}}onRack{{i}}shelf="ngModel"
                  name="{{j.name}}onRack{{i}}shelf"
                  matInput
                  placeholder="Shelf Quantity"
                  [(ngModel)]="shelfQuantity[i].quantity"
                />
                </mat-form-field>
                <mat-form-field class="mr5" >
                  <input
                  type="number"
                  required
                  #{{j.name}}onRack{{i}}place="ngModel"
                  name="{{j.name}}onRack{{i}}place"
                  matInput
                  placeholder="Place Quantity"
                  [(ngModel)]="placeQuantity[i]"
                />
                </mat-form-field >
                 
              <button mat-raised-button class="mr5" color="accent" type="button" (click)="addRack(j.id)" >Next Rack</button>
              <button *ngIf="i>=columnList.length&&i===j.rackCount[j.rackCount.length-1]" mat-raised-button class="mr5" color="basic" type="button" (click)="subRack(j.id)" >Subtract Rack</button>
            </div>
             
            </div>  
            {{service.bufferValue}}
          <div class="flex">
            
            <button mat-raised-button color="warn" (click)="backToColumn()" matStepperPrevious>Back</button>
            <span class="spacer"></span>
            <button mat-raised-button type="submit" color="primary" (click)="progress()" matStepperNext> Submit All </button>
          </div>
        </form>
      </mat-step>
</mat-horizontal-stepper>

