<mat-toolbar >
  <span class="toolbar-text">{{title}}</span> <button class="exit-button" mat-raised-button color="warn" (click)="onClose()"><mat-icon>close</mat-icon> </button>
</mat-toolbar>

<form #form="ngForm" *ngIf="service.formData" (submit)="onSubmit(ngForm)">
  <div class="container margin-center">
    <div class="margin-center">
     
    </div>
    <div class="margin-center">
      <mat-form-field class="example-form-field ">
        <input
          type="text"
          required
          #itemName="ngModel"
          name="itemName"
          matInput
          placeholder="Item Name"
          [(ngModel)]="service.formData.itemName"
        />
      </mat-form-field>
    </div>
    <div class="margin-center">
      <mat-form-field class="example-form-field ">
        <input
          type="number"
          required
          #quantity="ngModel"
          name="quantity"
          matInput
          placeholder="Quantity"
          [(ngModel)]="service.formData.quantity"
        />
      </mat-form-field>
    </div>
    <div class="margin-center">
      <mat-form-field class="example-form-field ">
          <mat-label>Magazyn</mat-label>
          <mat-select   #warehouseId="ngModel" name="warehouseId"   [(ngModel)]="service.formData.warehouseId">
            <mat-option *ngFor="let item of service.warehouseList" (click)="getRoom(item.id); test(item)" [value]="item.id">{{item.name}}</mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div class="margin-center">
      <mat-form-field class="example-form-field ">
          <mat-label>Pomieszczenie</mat-label>
          <mat-select   #room="ngModel" name="roomId" [(ngModel)]="service.formData.roomId">
            <mat-option *ngFor="let item of service.roomList" [value]="item.id" (click)="getColumn(item.id)">{{item.name}}</mat-option>
           
          </mat-select>
      </mat-form-field>
    </div>
    <div class="margin-center">
      <mat-form-field class="example-form-field ">
          <mat-label>Rząd</mat-label>
          <mat-select  #columnId="ngModel" name="columnId" [(ngModel)]="service.formData.columnId">
            <mat-option *ngFor="let item of service.columnList" [value]="item.id" (click)="getRack(item.id)">{{item.name}}</mat-option>

          </mat-select>
      </mat-form-field>
    </div><div class="margin-center">
      <mat-form-field class="example-form-field ">
          <mat-label>Regał</mat-label>
          <mat-select  #rack="ngModel" name="rack" [(ngModel)]="service.formData.rack">
            <mat-option *ngFor="let item of service.rackList" [value]="item" (click)="getShelf(item.id)">{{item.name}}</mat-option>

          </mat-select>
      </mat-form-field>
    </div>
    <div class="margin-center">
      <mat-form-field class="example-form-field ">
          <mat-label>Strona</mat-label>
          <mat-select  #side="ngModel" name="side" [(ngModel)]="service.formData.side">
            <mat-option *ngFor="let item of service.rackList" [value]="item" >{{item.side}}</mat-option>

          </mat-select>
      </mat-form-field>
    </div>
    <div class="margin-center">
      <mat-form-field class="example-form-field ">
          <mat-label>Półka</mat-label>
          <mat-select  [(value)]="service.formData.shelf" #shelf="ngModel" name="shelf" [(ngModel)]="service.formData.shelf">
            <mat-option *ngFor="let item of service.shelfList" [value]="item" (click)="getPlace(item.id)">{{item.name}}</mat-option>

          </mat-select>
      </mat-form-field>
    </div>
    <div class="margin-center">
      <mat-form-field class="example-form-field ">
          <mat-label>Miejsce</mat-label>
          <mat-select   [(value)]="service.formData.place" #place="ngModel" name="place" [(ngModel)]="service.formData.place">
            <mat-option *ngFor="let item of service.placeList" [value]="item" (click)="placeId(item.id)">{{item.name}}</mat-option>

            </mat-select>
      </mat-form-field>
    </div>
    <div class="example-button-row flex">
      <button class="mr5" mat-raised-button color="primary" type="submit">
        Submit
      </button>
      <button  class="mr5" mat-raised-button color="warn" (click)="onClear()" type="button">
        Clear <mat-icon>delete_sweep</mat-icon>
      </button>
      <button class="mr5" mat-icon-button color="warn" (click)="onClose()" type="button">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</form>
