<mat-toolbar >
  <span class="toolbar-text">{{title}}</span> <button class="exit-button" mat-raised-button color="warn" (click)="onClose()"><mat-icon>close</mat-icon> </button>
</mat-toolbar>

<form #form="ngForm" *ngIf="itemService.formData" (submit)="onSubmit(ngForm)">
  <div class="container margin-center">
    <div class="margin-center">
     
    </div>
    <div class="margin-center">
      <mat-form-field class="example-form-field ">
        <input
          type="text"
          required
          #itemName="ngModel"
          name="itemName"
          matInput
          placeholder="Item Name"
          [(ngModel)]="itemService.formData.itemName"
        />
      </mat-form-field>
    </div>
    <div class="margin-center">
      <mat-form-field class="example-form-field ">
        <input
          type="number"
          required
          #quantity="ngModel"
          name="quantity"
          matInput
          placeholder="Quantity"
          [(ngModel)]="itemService.formData.quantity"
        />
      </mat-form-field>
    </div>
    <div class="margin-center">
      <mat-form-field class="example-form-field ">
          <mat-label>Magazyn</mat-label>
          <mat-select   #warehouseId="ngModel" name="warehouseId"   [(ngModel)]="itemService.formData.warehouseId">
            <mat-option *ngFor="let item of service.warehouseList" (click)="getRoom(item.id)" [value]="item.id">{{item.name}}</mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div class="margin-center">
      <mat-form-field class="example-form-field ">
          <mat-label>Pomieszczenie</mat-label>
          <mat-select  #roomId="ngModel" name="roomId" [(ngModel)]="itemService.formData.roomId">
            <mat-option *ngFor="let item of service.roomList" [value]="item.id" (click)="getColumn(item.id)">{{item.name}}</mat-option>
           
          </mat-select>
      </mat-form-field>
    </div>
    <div class="margin-center">
      <mat-form-field class="example-form-field ">
          <mat-label>Rząd</mat-label>
          <mat-select  #columnId="ngModel" name="columnId" [(ngModel)]="itemService.formData.columnId">
            <mat-option *ngFor="let item of service.columnList" [value]="item.id" (click)="getRack(item.id)">{{item.name}}</mat-option>

          </mat-select>
      </mat-form-field>
    </div><div class="margin-center">
      <mat-form-field class="example-form-field ">
          <mat-label>Regał</mat-label>
          <mat-select  #rackId="ngModel" name="rackId" [(ngModel)]="itemService.formData.rackId">
            <mat-option *ngFor="let item of service.rackList" [value]="item.id" (click)="getSide(item.id)">{{item.name}}</mat-option>

          </mat-select>
      </mat-form-field>
    </div>
    <div class="margin-center">
      <mat-form-field class="example-form-field ">
          <mat-label>Strona</mat-label>
          <mat-select  #sideId="ngModel" name="sideId" [(ngModel)]="itemService.formData.sideId">
            <mat-option *ngFor="let item of service.sideList" [value]="item.id" (click)="getShelf(item.id)" >{{item.name}}</mat-option>

          </mat-select>
      </mat-form-field>
    </div>
    <div class="margin-center">
      <mat-form-field class="example-form-field ">
          <mat-label>Półka</mat-label>
          <mat-select   #shelfId="ngModel" name="shelfId" [(ngModel)]="itemService.formData.shelfId">
            <mat-option *ngFor="let item of service.shelfList" [value]="item.id" (click)="getPlace(item.id)">{{item.name}}</mat-option>

          </mat-select>
      </mat-form-field>
    </div>
    <div class="margin-center">
      <mat-form-field class="example-form-field ">
          <mat-label>Miejsce</mat-label>
          <mat-select   #placeId="ngModel" name="placeId" [(ngModel)]="itemService.formData.placeId">
            <mat-option *ngFor="let item of service.placeList" [value]="item.id" (click)="setPlace(item.id)">{{item.name}}</mat-option>

          </mat-select>
      </mat-form-field>
    </div>

    <div class="example-button-row flex">
      <button class="mr5" mat-raised-button color="primary" type="submit">
        Submit
      </button>
      <button  class="mr5" mat-raised-button color="warn" (click)="onClear()" type="button">
        Clear <mat-icon>delete_sweep</mat-icon>
      </button>
      <button class="mr5" mat-icon-button color="warn" (click)="onClose()" type="button">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</form>
