@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}
@mixin marigns{
    margin: 10px;
    padding: 10px;
}

.container {
  
  background-color: #f5f5f5;
  margin-top: 5%;
  padding: 5%;
}

.example-form-field {
  width: 100%;
}
.flex {
  display: flex;
}
.flex-wrap{
  flex-wrap:wrap;
}
.center-align{
    align-items: center;
}
.center{
    justify-content:center;
}
.wicon {
  height: 35px;
  margin-right: 5px;
  
}
.button-wrapper{
  width:100%;
  padding:10px;
}

.hide-icon{
  display:none !important;
}
.mr5{
  margin: 5px !important;
}

.schema{
  margin:24px;
  height: 500px;
  border: solid 1px;
}

